{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<main class="d-flex flex-column p-1 text-center">
  <div class="d-flex flex-column gap-3 pb-4"> 
    <h1> M.HABIBI </h1>
    <sub>Software engineer.</sub>
  </div>

  <div class="container">
    <p>
      I'm a software engineer. currently studying 
      for my BA. In Electrical-Engineering at Yeni 
      Yuzyil university/Istanbul while working on 
      open source projects.
      This website is created and maintaied by me
      to showcase my projects and profile.
    </p>
  </div>
</main>

<div class="text-center">
  <sub>Thanks.</br>Wed, Jul 31, 2024 - M.Habibi</sub>
</div>
{% endblock %}
