{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<main class="d-flex flex-column p-1 text-center">
  <div class="d-flex flex-column gap-3 pb-2">
    <h1 class="text-center fs-6">
    <pre> __  __    _    _   _ ____ ___       _   _    _    ____ ___ ____ ___
 |  \/  |  / \  | | | |  _ \_ _|     | | | |  / \  | __ )_ _| __ )_ _|
| |\/| | / _ \ | |_| | | | | |      | |_| | / _ \ |  _ \| ||  _ \| |
| |  | |/ ___ \|  _  | |_| | |      |  _  |/ ___ \| |_) | || |_) | |
 |_|  |_/_/   \_\_| |_|____/___|     |_| |_/_/   \_\____/___|____/___|
                                                                      SOFTWARE ENGINEER
    </pre>
    </h1>
  </div>
  <div class="container">
    <p>
      Mahdi Habibi is a software engineer based in Istanbul
      . currently working as a developer at Vero while studying
      for BA. in software engineering at Nişantaşı university of İstanbul.
    </p>
  </div>
</main>

<div class="text-center">
  <sub>Thanks.</br>Sun, Oct 20, 2024 - M. Habibi</sub>
</div>
{% endblock %}
