{% extends 'base.html' %}
{% block title %} Projects {% endblock %}
{% block content %}

<main>
    <div class="container">
        <h4 class="p-3 text-left">
          Discover some of my projects:
        </h2>
        <div class="col flex-col p-2">
            <ul>
                <li class="p-2">
                    <h4>Snake AI</h4>
                    <p>
                        You can launch the web version of 'Snake AI' by clicking on the 'Play Snake AI'
                        link.
                        When you do so, you will first be prompted to enter two parameters associated with
                        the snake's distance from food and the snake's head's distance from its own body, respectively.
                        The snake will then struggle to survive until it hits itself and the game is over.
                        At the end of a game, a number called "fitness" which is obtained based on the snake's performance will be displayed
                        By trying different parameters, you will obtain different 'fitness' scores.
                        try to see if you can beat the previous high scores.
                    </p>
                    <div class="d-flex justify-content-evenly">
                        <a href="/snake">play snake AI</a>
                        <a href="https://github.com/ma-habibi/snake-ai#readme">see on github</a>
                    </div>
                </li>

                <li class="p-2">
                    <h4>Weird</h4>
                    <p>
                      <a href="https://en.wikipedia.org/wiki/PL/0">PL/0</a> to C compiler front-end. written in C.
                    </p>
                    <div class="d-flex justify-content-evenly">
                        <a href="https://github.com/ma-habibi/Weird">see on github</a>
                    </div>
                </li>

                <li class="p-2">
                    <h4>Chem</h4>
                    <p>
                      Chemistry Calculator.
                      Chem is a Python library that provides chemistry-related functions.
                    </p>
                    <div class="d-flex justify-content-evenly">
                        <a href="https://github.com/ma-habibi/CHEM">see on github</a>
                    </div>
                </li>

            </ul>
        </div>
    </div> <!-- Container -->
</main>

{% endblock %}
